// global color setup
:root {
  --primary-color-hue: 56;
  --primary-color-saturation: 100%;

  --gray-color-hue: 0;
  --gray-color-saturation: 0%;
}

// sass variables
$primary: hsl(17, 100%, 62%);
$primary-dark: hsl(17, 100%, 58%);

$gray-100: hsl(35, 38%, 94%); //#F5F0E9

$gray-200: hsl(35, 21%, 89%); //#F5F5F5

$white: hsl(var(--gray-color-hue), var(--gray-color-saturation), 100%);
$black: hsl(var(--gray-color-hue), var(--gray-color-saturation), 0%);
