@import "src/styles/breakpoints.scss";
@import "src/styles/colors.scss";
@import "src/styles/typography.scss";

.container {
  @media #{$mq-xl} {
    // max-width: 80%;
    // left: 40%;
    // position: relative;
    // transform: translateX(-50%);
  }
  @media #{$mq-md} {
  }
  @media #{$mq-lg} {
  }
  flex-direction: column;
  display: flex;
  justify-content: left;
  margin: $margin-sm;
  // margin: 0 $margin-sm;
}