@import "src/styles/breakpoints.scss";
@import "src/styles/colors.scss";
@import "src/styles/typography.scss";

.about {
  background: $gray-200;
  border-radius: 30px;

  .img-wrapper {
    @media #{$mq-md} {
      min-height: 40vh;
    };
    border: 8px solid black;
    margin: 2.5rem 2rem;
    border-radius: 1rem;
    background: $white;
  }
}

.single-column {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  
  h1 {
    @extend %h1;
    font-weight: bolder;
    margin-block-start: 1.5rem;
    margin-block-end: 0;
    width: 100%;
  }
  h2 {
    @extend %body-lg;
    font-weight: bolder;
    margin-block-start: 1.5rem;
    margin-block-end: 0;
    width: 100%;
  }
  .text-wrapper {
    width: 100%;
    p { 
      @extend %body;
      @media #{$mq-xl} {
        max-width: 30rem;
      }

    }
  }
}