@import "src/styles/breakpoints.scss";
@import "src/styles/colors.scss";
@import "src/styles/typography.scss";

.cred {
  background: $gray-200;
  border-radius: 30px;
  margin-bottom: 1rem;
}

.single-column {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  
  h1 {
    @extend %h1;
    font-weight: bolder;
    margin-block-start: 1.5rem;
    margin-block-end: 0;
    width: 100%;
  }
  h2 {
    @extend %body-lg;
    font-weight: bolder;
    margin-block-start: 1.5rem;
    margin-block-end: 0;
    width: 100%;
  }
  .text-wrapper {
    p { 
      @extend %body;
      @media #{$mq-md} {
        width: 75%;
      }
      @media #{$mq-xl} {
        max-width: 30rem;
      }

    }
  }
}