@import "src/styles/breakpoints.scss";
@import "src/styles/colors.scss";
@import "src/styles/typography.scss";

.nav {
  position: absolute;
  &--bg {
    top: 0; right: 0; bottom: 0;
    height: 50vw;
    width: 100vw;
    background: $black;
  }
}

.nav-menu {
  max-width: 80%;
  display: none;
}

.nav-link {
  @extend %body-lg;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    text-decoration: none;
    color: $white;
  }
}

.nav-open {
  display: block;
  position: absolute;
  z-index: 500;
}

.menu-toggle {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: black;
  // padding: 1rem;
  margin-right: 3rem;
  position: absolute;
  right: 0;
  z-index: 400;
}