@import "src/styles/breakpoints.scss";
@import "src/styles/colors.scss";
@import "src/styles/typography.scss";

.footer { 
  margin: 4rem 0 0;
  width: 100%;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .links {
    @media #{$mq-xl} {
      max-width: 1200px;
      padding: 0 20%;
    }
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 1rem 0;

    &--column {
      @media #{$mq-xl} {
        flex-basis: 200px;
      }
      @media #{$mq-md} {
        flex-direction: row;
        margin: 0;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: .5rem 0;
      &:hover {
        // color: gray;
        transition: 0.2s ease-in;
      }
      h4 {
        @extend %body;
        margin-block-start: 0;
        margin-block-end: .5rem;
      }
      .footer-link {
        @extend %body;
        font-size: 18px;
        text-decoration: none;
        margin-right: 1rem;
        color: #262626;
        font-weight: bolder;
        &:hover {
          color: $primary;
          transition: 0.2s ease-in;
        }
      }
      .icons {
        text-align: end;
        svg {
          cursor: pointer;
          margin-right: .5rem;
          &:hover {
            transition: 0.2s ease-in;
            color: $primary;
          }
        }
      }
      button {
        @media #{$mq-md} {
          margin-left: 2rem;
        }
        cursor: pointer;
        border-radius: 8px;
        padding: .4rem;
        border: none;
        background: $black;
        transition: all 0.1s ease-out;
        width: 200px;
        .newsletter-link {
          @extend %body;
          font-size: 18px;
          font-weight: bolder;
          color: $white;
          margin-right: none;
          text-decoration: none;
        }
        &:hover {
          background: #262626;
        }
      }
    }
    &--column:nth-of-type(2) {
      display: flex;
      row-gap: .5rem;
      justify-self: end;
    }
  }
  .copyright {
    p {
      @extend %body;
      font-size: 16px;
    }
  }
}